  

<div class="jumbotron">
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p>Please signin with your email and password</p>
 <p></p>

    
<form method="POST" action='/messages/authenticate_user'>
      <div class="form-group">
    <div>
    <label>Email:</label>
    <input class="form-control" type="text" name="email" value="">
  </div>
  <div>
    <label>Password :</label>
       <input class="form-control" type="password" name="password" value="">
  </div>
   <div>
    <p><br /> <button  type="submit" class="btn btn-lg btn-success">Submit</button></p>
       </div>
  </div>
      </div>
</form>

</div>
</div>
